rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function canReadOrgStorage(orgId) {
      return (
          request.auth != null
          && firestore.exists(
            /databases/(default)/documents/users/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.roles.superAdmin == true
        )
        || (
          request.auth != null
          && firestore.exists(
            /databases/(default)/documents/users/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.orgId == orgId
          && firestore.exists(
            /databases/(default)/documents/orgs/$(orgId)
          )
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)
          ).data.status == "active"
          && firestore.exists(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          ).data.active == true
        );
    }

    function canWriteOrgStorage(orgId) {
      return (
          request.auth != null
          && firestore.exists(
            /databases/(default)/documents/users/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.roles.superAdmin == true
        )
        || (
          request.auth != null
          && firestore.exists(
            /databases/(default)/documents/users/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/users/$(request.auth.uid)
          ).data.orgId == orgId
          && firestore.exists(
            /databases/(default)/documents/orgs/$(orgId)
          )
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)
          ).data.status == "active"
          && firestore.exists(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          )
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          ).data.status == "active"
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          ).data.active == true
          && firestore.get(
            /databases/(default)/documents/orgs/$(orgId)/members/$(request.auth.uid)
          ).data.role in ["orgOwner", "orgAdmin", "assessor", "contributor"]
        );
    }

    match /orgs/{orgId}/{allOrgFiles=**} {
      allow read: if canReadOrgStorage(orgId);
      allow create, update: if canWriteOrgStorage(orgId);
      allow delete: if false;
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
